<div id="store-container">
<div id="store-menu">
<h4 class="menue-item">
<a>
<i class="fas fa-tachometer-alt"></i>
 Dashboard
</a>
</h4>
<h4 class="menue-item">
<a href="<%= store_products_path(@store)%>">
<i class="fas fa-store-alt" ></i>
Store products
</a>
</h4>
<h4 class="menue-item">
<a>
<i class="fas fa-pen"></i>
Orders
</a>
</h4>


<h4 class="menue-item">
<a>
<i class="fas fa-check"></i>
approved Orders
</a>
</h4>
</div>