<body>
 <div id="side-menue">
 <ul class="list">

        <li class="list-item active">
           <a style="text-decoration:none"  href="<%= root_path %>">Home </a>
        </li>
    
       
        <li class="list-item">
        
          <a style="text-decoration:none"  href="<%= products_path %>">Shop</a>

        </li>
       
        <li class="list-item">
            Features
        </li>
   

   
    </ul>
    </div>
    </body>