<div id="DIV_1">
	<div id="DIV_2">
		<div id="DIV_3">
			<div id="DIV_4">
				 <span id="SPAN_5">Men Collection 2018</span>
			</div>
			<div id="DIV_6">
				<h2 id="H2_7">
					New arrivals
				</h2>
			</div>
			<div id="DIV_8">
				 <a href="https://preview.colorlib.com/theme/cozastore/product.html" tabindex="-1" id="A_9">Shop Now</a>
			</div>
		</div>
	</div>
</div>