<%= render 'stores/sideMenu' %>

<div class="store-content">
  <h1 style="margin-bottom: 50px">Approved Orders</h1>
    <table class="orders-table">
        <tr class="header">
            <th>Customer Name</th>
            <th>Total Prie</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>200$</td>
           
        </tr>
        <tr>
            <td>Berglunds snabbköp</td>
            <td>100$</td>
            
        </tr>
    </table>
    </div>