/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

body {
    
}

.logo {
    display: inline-block;
    font-size: 20px;
    color: #000;
}

ul {
    display: inline-block;
}

.list {
    margin-bottom: 50px;
}

.list-item {
    font-size: 15px;
    color: #000;
    transition: ease-in-out 0.5s;
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.list-item:hover,
.list-item.active {
    color: #717fe0;
}

.login {
    text-align: right;
    position: absolute;
    right: 10px;
    font-size: 20px;
}

.search {
    text-align: right;
    position: absolute;
    right: 50px;
    font-size: 20px;
}

.a {
    text-decoration: none;
}

a:hover {
    color: #717fe0;
    background-color: #ccc
}

element.style {
    background-image: url(images/xslide-01.jpg.pagespeed.ic.XotvXKn0Mi.webp);
    width: 1404px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 999;
    opacity: 1;
}


/* Browser Resets */

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* FlexSlider Necessary Styles
*********************************/

.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: hidden;
}


/* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {
    width: 100%;
    display: block;
}

.flex-pauseplay span {
    text-transform: capitalize;
}


/* Clearfix for the .slides element */

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}


/* No JavaScript Fallback */


/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides>li:first-child {
    display: block;
}


/* FlexSlider Default Theme
*********************************/

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
    background: url(../img/loader.gif) center no-repeat
}


/* Direction Nav */

.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    width: 30px;
    height: 30px;
    margin: -20px 0 0;
    display: block;
    background: url(../img/bg_direction_nav.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    -webkit-transition: all .3s ease;
}

.flex-direction-nav .flex-next {
    background-position: 100% 0;
    right: -36px;
}

.flex-direction-nav .flex-prev {
    left: -36px;
}

.flexslider:hover .flex-next {
    opacity: 0.8;
    right: 5px;
}

.flexslider:hover .flex-prev {
    opacity: 0.8;
    left: 5px;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1;
}

.flex-direction-nav .flex-disabled {
    opacity: .3!important;
    filter: alpha(opacity=30);
    cursor: default;
}


/* Control Nav */

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}

.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}

.flex-control-thumbs img:hover {
    opacity: 1;
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}

@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 0;
    }
    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 0;
    }
}

.carousel-indicators.carousel-indicators--thumbnails li {
    width: 80px;
    height: 40px;
    margin: 0;
    border: none;
    border-radius: 0;
}

.carousel-indicators.carousel-indicators--thumbnails .active {
    background-color: transparent;
}

.carousel-indicators.carousel-indicators--thumbnails .active .thumbnail {
    border-color: #337ab7;
}

.mt-100 {
    margin-top: 100px
}

.product-wrapper,
.product-img {
    overflow: hidden;
    position: relative
}

.mb-45 {
    margin-bottom: 45px
}

.product-action {
    bottom: 0px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.6s ease 0s
}

.product-wrapper {
    border-radius: 10px
}

.product-img>span {
    background-color: #fff;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    left: 20px;
    letter-spacing: 1px;
    padding: 3px 12px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px
}

.product-action-style {
    background-color: #fff;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
    display: inline-block;
    padding: 16px 2px 12px
}

.product-action-style>a {
    color: #979797;
    line-height: 1;
    padding: 0 21px;
    position: relative
}

.product-action-style>a.action-plus {
    font-size: 18px
}

.product-wrapper:hover .product-action {
    bottom: 20px;
    opacity: 1
}

.address-content {
    font-size: 13px
}

.card {
    background-color: rgba(255, 255, 255, 0.541);
    height: 100%
}

.content-aboutme span {
    font-size: 13px
}

.portfolio-content p {
    font-size: 13px
}

.badge {
    font-size: 11px;
    font-weight: 600
}

.avatar {
    margin: 20px;
    vertical-align: middle;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border-style: solid;
    border-color: #D3D3D3;
    border-width: 4px
}

///////////////////////////////////////// store/////////////////////////////////
#side-menue {
  background-color: saddlebrown;

}

#store-container{
width: 20%;
background-color: rgb(31, 31, 31);

}
.menue-item{
  padding: 25px;
  color: rgb(226, 224, 224);
  border-bottom: 1px solid rgb(226, 224, 224)  ;
  cursor: pointer;

}
.menue-item a:hover {
  color:#717fe0;;
  background-color: rgb(31, 31, 31);
  text-decoration: none;
}
.menue-item a{
  color: rgb(226, 224, 224);
}
