#DIV_1 {
    background-position: 50% 50%;
    block-size: 146.667px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    float: left;
    height: 146.667px;
    inline-size: 1403.99px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 2808px;
    inset-inline-start: -2808px;
    left: -2808px;
    min-block-size: 1px;
    min-height: 1px;
    opacity: 0;
    perspective-origin: 701.991px 73.3333px;
    position: relative;
    right: 2808px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 701.997px 73.3333px;
    user-select: none;
    width: 1403.99px;
    z-index: 998;
    background: rgba(0, 0, 0, 0) url("https://preview.colorlib.com/theme/cozastore/images/xslide-03.jpg.pagespeed.ic.tP-L47NU9M.webp") no-repeat scroll 50% 50% / cover padding-box border-box;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    transition: opacity 1s ease 0s;
}


/*#DIV_1*/

#DIV_1:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_1:after*/

#DIV_1:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_1:before*/

#DIV_2 {
    block-size: 146.667px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    height: 146.667px;
    inline-size: 1199.99px;
    margin-inline-end: 102.002px;
    margin-inline-start: 102.002px;
    max-inline-size: 1200px;
    max-width: 1200px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 599.988px 73.3333px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 599.994px 73.3333px;
    user-select: none;
    width: 1199.99px;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    margin: 0px 102.002px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 15px;
}


/*#DIV_2*/

#DIV_2:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_2:after*/

#DIV_2:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_2:before*/

#DIV_3 {
    align-items: flex-start;
    block-size: 146.667px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    display: flex;
    height: 146.667px;
    inline-size: 1170.01px;
    justify-content: center;
    padding-block-end: 30px;
    padding-block-start: 100px;
    perspective-origin: 585px 73.3333px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 585.006px 73.3333px;
    user-select: none;
    width: 1170.01px;
    border: 0px none rgb(102, 102, 102);
    flex-flow: column nowrap;
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
    padding: 100px 0px 30px;
}


/*#DIV_3*/

#DIV_3:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    display: block;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_3:after*/

#DIV_3:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    display: block;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_3:before*/

#DIV_4 {
    block-size: 35.5556px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    height: 35.5556px;
    inline-size: 272.292px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 136.146px 17.7778px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 136.146px 17.7778px;
    user-select: none;
    visibility: hidden;
    width: 272.292px;
    animation: 1s ease 0s 1 normal both running none;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_4*/

#DIV_4:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    user-select: none;
    visibility: hidden;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_4:after*/

#DIV_4:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    user-select: none;
    visibility: hidden;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_4:before*/

#SPAN_5 {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0px 0px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    user-select: none;
    visibility: hidden;
    border: 0px none rgb(51, 51, 51);
    font: 28px / 35.9996px Poppins-Regular;
    outline: rgb(51, 51, 51) none 0px;
}


/*#SPAN_5*/

#SPAN_5:after {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    user-select: none;
    visibility: hidden;
    border: 0px none rgb(51, 51, 51);
    font: 28px / 35.9996px Poppins-Regular;
    outline: rgb(51, 51, 51) none 0px;
}


/*#SPAN_5:after*/

#SPAN_5:before {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    user-select: none;
    visibility: hidden;
    border: 0px none rgb(51, 51, 51);
    font: 28px / 35.9996px Poppins-Regular;
    outline: rgb(51, 51, 51) none 0px;
}


/*#SPAN_5:before*/

#DIV_6 {
    block-size: 127.917px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    height: 127.917px;
    inline-size: 440.278px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 220.139px 63.9583px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 220.139px 63.9583px;
    user-select: none;
    visibility: hidden;
    width: 440.278px;
    animation: 1s ease 0s 1 normal both running none;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_6*/

#DIV_6:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    user-select: none;
    visibility: hidden;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_6:after*/

#DIV_6:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    user-select: none;
    visibility: hidden;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_6:before*/

#H2_7 {
    block-size: 127.917px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 127.917px;
    inline-size: 440.278px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-block-end: 43px;
    padding-block-start: 19px;
    perspective-origin: 220.139px 63.9583px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform-origin: 220.139px 63.9583px;
    user-select: none;
    visibility: hidden;
    width: 440.278px;
    border: 0px none rgb(51, 51, 51);
    font: 500 60px / 66px PlayfairDisplay-Bold;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 19px 0px 43px;
}


/*#H2_7*/

#H2_7:after {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    text-transform: uppercase;
    user-select: none;
    visibility: hidden;
    border: 0px none rgb(51, 51, 51);
    font: 500 60px / 66px PlayfairDisplay-Bold;
    outline: rgb(51, 51, 51) none 0px;
}


/*#H2_7:after*/

#H2_7:before {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    text-transform: uppercase;
    user-select: none;
    visibility: hidden;
    border: 0px none rgb(51, 51, 51);
    font: 500 60px / 66px PlayfairDisplay-Bold;
    outline: rgb(51, 51, 51) none 0px;
}


/*#H2_7:before*/

#DIV_8 {
    block-size: 45.9954px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    height: 45.9954px;
    inline-size: 160.995px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 80.4977px 22.9977px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 80.4977px 22.9977px;
    user-select: none;
    visibility: hidden;
    width: 160.995px;
    animation: 1s ease 0s 1 normal both running none;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_8*/

#DIV_8:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    user-select: none;
    visibility: hidden;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_8:after*/

#DIV_8:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    user-select: none;
    visibility: hidden;
    border: 0px none rgb(102, 102, 102);
    font: 15px / 22.5px Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_8:before*/

#A_9 {
    align-items: center;
    block-size: 45.9954px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-end-end-radius: 23px;
    border-end-start-radius: 23px;
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    border-start-end-radius: 23px;
    border-start-start-radius: 23px;
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    display: flex;
    height: 45.9954px;
    inline-size: 160.995px;
    justify-content: center;
    min-inline-size: 161px;
    min-width: 161px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 80.4977px 22.9977px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    touch-action: manipulation;
    transform-origin: 80.4977px 22.9977px;
    user-select: none;
    visibility: hidden;
    width: 160.995px;
    background: rgb(113, 127, 224) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 23px;
    font: 15px / 22px Poppins-Medium;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 15px;
    transition: all 0.4s ease 0s;
}


/*#A_9*/

#A_9:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    display: block;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    user-select: none;
    visibility: hidden;
    border: 0px none rgb(255, 255, 255);
    font: 15px / 22px Poppins-Medium;
    outline: rgb(255, 255, 255) none 0px;
}


/*#A_9:after*/

#A_9:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    display: block;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    user-select: none;
    visibility: hidden;
    border: 0px none rgb(255, 255, 255);
    font: 15px / 22px Poppins-Medium;
    outline: rgb(255, 255, 255) none 0px;
}


/*#A_9:before*/