<h1>Search</h1>
<h1>The Result </h1>
<hr>
<% if @products.present? %>
 <% @products.each do |product| %>
 <%= product.name %>
 <%= product.price %>
 <%= product.rate %>
 <%= product.quantity %>
 <br>
 <%end%> 
<% end %>